[submodule "ldbc_snb_datagen_hadoop"]
	path = ldbc_snb_datagen_hadoop
	url = https://github.com/ldbc/ldbc_snb_datagen_hadoop.git
[submodule "ecosys"]
	path = ecosys
	url = https://github.com/tigergraph/ecosys.git
	branch = master
